# Python Tutorial: *Python Basics*

[Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) is the source for some of the material in this module. It is an excellent reference material that introduces, with examples, various basic concepts that we will cover in this course.

## This module consists of:

* Pure Python basics -- data types, lists, for loops, conditional statements, functions. How to read documentation on libraries and functions.|
* Numpy arrays, slicing, efficient vectorized operations versus pure Python operations. Computation on Numpy arrays, indexing, broadcasting, boolean masks.|
* Intro to Pandas: Series, Dataframes, indexing, selection, boolean selection.
* Intro to netCDF format and xarray module

Additional material covered: Matplotlib: scatter, line, fill_between, bar, contour, contourf, pcolormesh, quiver. Modifying plot elements: axis labels, legends, axis limits, title, figsize, subplots, gridspec.GridSpec

Before beginning to run your own Python notebooks, be sure to start with the following packages installed:
* numpy
* scipy
* matplotlib
* pandas

## Why use Python?

Python is a high-level language that is easily extendable through the use of modules. "High-level" implies that there is a lot of abstraction from what goes on at the lowest level inside the machine. For many users who are not expert programmers, Python allows for an easy entry into the world of programming. Python's design philosophy is to have code that is easily understood (and easy to read).

The language is easily extendable through the use of modules that can be imported. This has allowed various communities to develop packages that are specific to their field. The scientific computing packages that are commonly used in Oceanography are:

1. Numpy -- allows you to work with arrays and perform matrix operations on them.
2. Matplotlib -- Python's visualization library.
3. Pandas -- data analysis package.
4. Xarray -- gridded climate data analysis package.
5. Cartopy -- allows for transforming plot coordinates onto different map projections (not working on University Jupyter unfortunately!)

And many others that you will start discovering as you begin using Python.

In [1]:
print("Hello world!")

Hello world!

This is a Jupyter notebook. It uses your browser to provide an interactive environment from where you can run Python code. You can simply type in Python code and run it by pressing "Shift+Enter", as shown above. To enter into edit mode, you simply click on the cell, or select the cell with your arrow keys and press the return key to enter the "Edit" mode, the cursor will appear within the cell and you can type into it. Press "Esc" key to exit the "Edit" mode.

Try running your first code, print out your name below.

In [2]:
print("Type your name here!")

Type your name here!

You can have cells that run Python code, or a "Markdown" cell that is used for documentation. This is a Markdown cell. To change a cell into code or markdown mode, select it and change the property in the dropdown bar from the toolbar menu on top.

In [3]:
2 + 3 + 4
print("2")

2

You can directly perform basic arithmetic operations as shown above. Try out all the operators: +, -, /, \*, \*\*

### Assigning an object

Use any name for the object and use the "=" operator to assign a value to that object. Ensure that the name is not one of the "**keywords**" that Python uses. Keywords get highlighted in green by the syntax highlighter.

In [3]:
myvariable = 1
print('myvariable = ',myvariable)
print('type: ',type(myvariable))

myvariable =  1
type:  <class 'int'>

In [4]:
myvariable = 1.5
print('myvariable = ',myvariable)
print('type: ',type(myvariable))

myvariable =  1.5
type:  <class 'float'>

In [5]:
myvariable = 1.5+2.j
print('myvariable = ',myvariable)
print('type: ',type(myvariable))

myvariable =  (1.5+2j)
type:  <class 'complex'>

In [6]:
myvariable = 'bonjour'
print('myvariable = ',myvariable)
print('type: ',type(myvariable))

myvariable =  bonjour
type:  <class 'str'>

In [7]:
myvariable = True
print('myvariable = ',myvariable)
print('type: ',type(myvariable))

myvariable =  True
type:  <class 'bool'>

Python has "dynamic typing", unlike C or Fortran where you have to define the type of the variable. Above, we created a variable called "myvariable", we didn't have to specify that it is of type integer. The name is a placeholder that allows us to access whatever is stored within it, think of it as an address that points to the location in the computer's memory where the actual values are stored.

A [floating point](https://en.wikipedia.org/wiki/Floating-point_arithmetic) value allows for the storage of decimal numbers. In most situations, Python automatically converts integers to floats if your arithmetic requires floats. But it is useful to be mindful that an int type cannot represent decimals!

In [11]:
type(1)

int

In [12]:
type(1/3)

float

You can convert from one type to another. For example, convert a float into a string:

In [14]:
str(5/3)

'1.6666666666666667'

### Lists

In [47]:
mylist = [1, 2, 3, 4]
mylist

[1, 2, 3, 4]

In [50]:
type(mylist)

list

In [51]:
# create a long list of integers
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Number of elements given by *len*

In [56]:
len(mylist)

4

In [57]:
# you can append values directly to the end of a list
mylist.append(7)
mylist

[1, 2, 3, 4, 7]

An error is thrown if your requested index is out of range

In [59]:
#access elements in the list by their index
mylist[5]

IndexError: list index out of range

Note: Python uses 0-based indexing, meaning that the first object in a list is accessed with index `[0]`, the second with index `[1]`, etc.

Important: If you multiply a list by a number, it is repeated.

In [60]:
# perform arithmetic operations with list elements
2 * mylist

[1, 2, 3, 4, 7, 1, 2, 3, 4, 7]

If you want to multiply elements in a list by a constant, use a list comprehension...

In [61]:
[2*x for x in mylist]
mylist3

[2, 4, 6, 8]

... or a *for* loop:

In [62]:
mylist2 = []
for x in mylist:
    mylist2.append(2*x)

mylist2

[2, 4, 6, 8, 14]

In [63]:
# Entire lists can be added together (concatenation)
mylist3 = mylist + mylist2
mylist3

[1, 2, 3, 4, 7, 2, 4, 6, 8, 14]

You can sort elements by converting into a set, then back to a list:

In [64]:
sorted(mylist3)

[1, 2, 2, 3, 4, 4, 6, 7, 8, 14]

### More fundamental object types in Python:

1. Tuples
1. Dict
1. String and character

#### Tuples are fixed (immutable) arrays, their elements cannot be changed

In [65]:
x = (1,2,3,4,5) # tuples are created using parantheses, while lists are created using square braces

In [66]:
x

(1, 2, 3, 4, 5)

In [67]:
x[0]

1

In [68]:
a, b, c = 1, 2, 3

In [70]:
c

3

#### Dict or dictionaries are created using curly braces. They consist of a key:value pair

In [73]:
d = {'a':2, 'b':3}

In [74]:
d

{'a': 2, 'b': 3}

In [75]:
d['a']

2

In [76]:
# New key:value pairs can be added to the dictionary
d['c'] = 4

In [77]:
d

{'a': 2, 'b': 3, 'c': 4}

In [78]:
mydict = {"names":["Jim", "Jane", "Alice", "Bob"], "age":[24, 38, 46, 12]}

In [79]:
mydict

{'names': ['Jim', 'Jane', 'Alice', 'Bob'], 'age': [24, 38, 46, 12]}

In [80]:
mydict["names"]

['Jim', 'Jane', 'Alice', 'Bob']

In [81]:
mydict["age"][1]

38

#### Strings and characters

In [82]:
mystring = "this, is, my, string, of, characters"

In [83]:
mystring

'this, is, my, string, of, characters'

In [84]:
mystring[0]

't'

In [85]:
mystring.split(",")

['this', ' is', ' my', ' string', ' of', ' characters']

### For loops

In [86]:
mylist = [0,1,2,3,4]

In [87]:
for x in mylist:
    y = x+10
    print(y)

10
11
12
13
14

In [88]:
for i,x in enumerate(mylist):
    y = x+10
    print(i,y)

0 10
1 11
2 12
3 13
4 14

In [21]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

### Conditional statements and Boolean logic

In [77]:
if (1 > 0):
    print("True")

True

In [81]:
if True:
    print("True")
    print(y + 10)
else:
    print("False")

True
24

In [27]:
mybool = False
if mybool:
    print("True")
else:
    print("False")

False

In [90]:
y = [1,2,3]

In [91]:
if (y[0] < 5):
    print(y[0], "is less than 5")

1 is less than 5

In [32]:
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

In [33]:
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

In [35]:
print(True & True)
print(True | False)

True
True

Caution: "&" and "|" are bitwise "AND" and "OR" operators! The objects being compared are compared as bits. If this doesn't make sense, the compiler will throw an error. You will need bitwise operators for most of your logical tests across arrays in your program.

### You can define your own Functions using the keyword "def"

Functions are a neat way of organizing your code. You can compartmentalize your code by the function that is performed. This leads to cleaner development of large complex codes and easier debugging.

A function accepts certain "arguments" and performs certain operations on these arguments. It can then return some value. A simple example of a function is the in-built function you used to write your first piece of code: `print("some string here")`. The `print()` function accepts a string value as an argument and transfers that string to the standard output display.

In [85]:
def myfunc_compute_square_root(myarg):
    # do something with the arguments passed, and return some value
    myarg = myarg**0.5
    print(myarg)

In [86]:
# call the function and pass it the argument that it needs
x = 4
myfunc_compute_square_root(x)

2.0

In [88]:
x

4

### But notice that the value stored in "x" has not been modified.

This is because the moment you re-reference something to "myarg", a new object is created in memory. If you want the changes to myarg to be transfered to "x" outside the function, then use the "return" keyword.

In [17]:
def myfunc_compute_square_root(myarg, exponential=2, const=3):
    # do something with the arguments passed, and return some value
    return myarg**exponential + const

## Exercise: For loop to find the minimum value

Write code that finds the minimum value within a list. A pseudo-algorithm follows.

1. Create a list with at least 10 random values (use integers or floats).
1. Loop over each element of the list.
1. During the 0'th iteration of the loop, store the 0th value of the list in a variable "imin".
1. During iterations > 0 of the loop, write a conditional statement that compares the value stored in the variable "imin" with the element of the list. 
    - If the current element is smaller than the value in "imin", then store the current element in "imin".
    - Hint: The operator "==" is used to compare two values.
    
At the end of the loop, "imin" will have the minimum value found in the list

In [ ]:
def min_in_list(list):
    
    # add code to find minimum element
    
    
    # return the minimum value
    return min_value

In [92]:
import random

randomlist = []
for i in range(5):
    n = random.randint(1,30)
    randomlist.append(n)
    
randomlist

[9, 20, 3, 21, 21]

In [93]:
min_in_list(randomlist)

NameError: name 'min_in_list' is not defined